@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url('https://images.pexels.com/photos/3408744/pexels-photo-3408744.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  position: absolute;
  top: -40px;
  left: -40px;
  height: calc(100vh + 40px);
  width: calc(100vw + 40px);
  z-index: -1;
  filter: blur(50px);
}

.loading-text {
  font-weight: bold;
  font-size: 40px;
  color: #fff;
}
